# Coding Temple's Data Analytics Program
---
## Python for Data Analytics: Stats Assignment

For today's homework, you will be working with AB Testing Dataset. This data was scraped from a study conducted by Udemy. The study was to determine if there was a relationship with the number of clickthroughs and webtext that was displayed. 

Your goal is to analyze the data that was collected during this study and determine whether or not there is a relationship between the two variables.

### Task 1: Imports
Import your data and your libraries needed to complete this assignment:

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import scipy as stats
import numpy as np

df = pd.read_csv(r'C:\Users\adoro\OneDrive\Desktop\CT Python\Week Four\Assignments\ab_testing.csv')
df

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

df

        unnamed:_0  pageview       group  click
0                0         0     Control      1
1                1         1     Control      1
2                2         2     Control      1
3                3         3     Control      1
4                4         4     Control      1
...            ...       ...         ...    ...
690198      690198    344655  Experiment      0
690199      690199    344656  Experiment      0
690200      690200    344657  Experiment      0
690201      690201    344658  Experiment      0
690202      690202    344659  Experiment      0

[690203 rows x 4 columns]

In [2]:
df.drop(columns = 'unnamed:_0', inplace = True)

In [5]:
df.isnull().sum()

pageview    0
group       0
click       0
dtype: int64

In [8]:
df

        pageview       group  click
0              0     Control      1
1              1     Control      1
2              2     Control      1
3              3     Control      1
4              4     Control      1
...          ...         ...    ...
690198    344655  Experiment      0
690199    344656  Experiment      0
690200    344657  Experiment      0
690201    344658  Experiment      0
690202    344659  Experiment      0

[690203 rows x 3 columns]

### Task 2: Creating Hypothesis

Before you begin working with the data, formulate your null and alternative hypothesis in the markdown cell below:

Alternative Hypothesis - There is a relationship between clickthrough and webtext.

Null Hypothesis - There is no relationship between clickthrough and webtext.

### Task 3: Calculating Frequencies

In this task, you will calculate your frequency and your relative frequency of the `group` column

In [9]:
# Frequency

group_freq = df['group'].value_counts()
group_freq

Control       345543
Experiment    344660
Name: group, dtype: int64

In [11]:
# Relative Frequency

group_rate = round(df['group'].value_counts(normalize = True)* 100, 2)
group_rate

Control       50.06
Experiment    49.94
Name: group, dtype: float64

Next, let's calculate the frequency and relative frequency of the `click` column:

In [12]:
# Frequency 

click_freq = df['click'].value_counts()
click_freq

0    633500
1     56703
Name: click, dtype: int64

In [13]:
click_rate = round(df['click'].value_counts(normalize = True)* 100, 2)
click_rate

0    91.78
1     8.22
Name: click, dtype: float64

### Task 4a: 

Look at the joint distribution of the `group` and `click` columns and make an inference on if there is a relationship between the group and clicks

In [3]:
joint_dist = pd.crosstab(df['group'], df['click'])
joint_dist

# 1 means they did click
# 0 means that they did not click

click            0      1
group
Control     317165  28378
Experiment  316335  28325

### Task 4b:

Calculate the marginal distribution of the `group` and `click` variables:

In [4]:
pd.crosstab(df['group'], df['click'], margins = True)

click            0      1     All
group
Control     317165  28378  345543
Experiment  316335  28325  344660
All         633500  56703  690203

### Task 4c:
Calculate the conditional distribution of the `group` and `click` variables:

In [5]:
round(pd.crosstab(df['group'], df['click'], normalize = 'index')* 100, 2)

click           0     1
group
Control     91.79  8.21
Experiment  91.78  8.22

### Task 5:

Perform a chi-squared test on your data. Interpret and communicate the results in a markdown cell below your code

In [10]:
from scipy.stats import chi2_contingency

In [11]:
_, p_val, __, ___ = chi2_contingency(pd.crosstab(df['group'], df['click']))
print(p_val)

0.9352212452988706

As the p-value is greater than the industry standard of .05, we fail to reject the null hypothesis. There is not enough evidence to be in favor of the Alternative Hypothesis, meaning there is no relationship between text and clickthroughs.